extends ../layout/master

block sidebar
  ul.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion(id="accordionSidebar")
    // Sidebar - Brand
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href="index.html")
      .sidebar-brand-icon.rotate-n-15
        i.fas.fa-laugh-wink
      .sidebar-brand-text.mx-3 SB Admin sup 2

    // Divider
    hr.sidebar-divider.my-0

    // Nav Item - Dashboard
    li.nav-item.active
      a.nav-link(href="index.html")
        i.fas.fa-fw.fa-tachometer-alt
        span Dashboard

    // Divider
    hr.sidebar-divider

    // Heading
    .sidebar-heading Interface

    // Nav Item - Pages Collapse Menu
    li.nav-item
      a.nav-link.collapsed(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
        i.fas.fa-fw.fa-cog
        span Components
      #collapseTwo.collapse(aria-labelledby="headingTwo", data-parent="#accordionSidebar")
        .bg-white.py-2.collapse-inner.rounded
          h6.collapse-header Beasiswa :
            a.collapse-item(href="/admin/users") Show User
            a.collapse-item(href="/admin/mahasiswa") Show Mahasiswa

block top-bar
  nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
    // Sidebar Toggle (Topbar)
    button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
      i.fa.fa-bars

    // Greeting Message
    span.navbar-text.ml-auto
      | Halo #{username}

    // Topbar Search
    form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
      .input-group
        input.form-control.bg-light.border-0.small(type="text", placeholder="Search for...", aria-label="Search", aria-describedby="basic-addon2")
        .input-group-append
          button.btn.btn-primary(type="button")
            i.fas.fa-search.fa-sm

    // Topbar Navbar
    ul.navbar-nav.ml-auto
      // Nav Item - Search Dropdown (Visible Only XS)
      li.nav-item.dropdown.no-arrow.d-sm-none
        a.nav-link.dropdown-toggle(href="#", id="searchDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          i.fas.fa-search.fa-fw
        // Dropdown - Messages
        .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby="searchDropdown")
          form.form-inline.mr-auto.w-100.navbar-search
            .input-group
              input.form-control.bg-light.border-0.small(type="text", placeholder="Search for...", aria-label="Search", aria-describedby="basic-addon2")
              .input-group-append
                button.btn.btn-primary(type="button")
                  i.fas.fa-search.fa-sm

      // Nav Item - Alerts
      li.nav-item.dropdown.no-arrow.mx-1
        a.nav-link.dropdown-toggle(href="#", id="alertsDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          i.fas.fa-bell.fa-fw
          // Counter - Alerts
          span.badge.badge-danger.badge-counter 3+
        // Dropdown - Alerts
        .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby="alertsDropdown")
          h6.dropdown-header Alerts Center
          a.dropdown-item.d-flex.align-items-center(href="#")
            .mr-3
              .icon-circle.bg-primary
                i.fas.fa-file-alt.text-white
            .div
              .small.text-gray-500 December 12, 2019
              span.font-weight-bold A new monthly report is ready to download!
          a.dropdown-item.d-flex.align-items-center(href="#")
            .mr-3
              .icon-circle.bg-success
                i.fas.fa-donate.text-white
            .div
              .small.text-gray-500 December 7, 2019
              | $290.29 has been deposited into your account!
          a.dropdown-item.d-flex.align-items-center(href="#")
            .mr-3
              .icon-circle.bg-warning
                i.fas.fa-exclamation-triangle.text-white
            .div
              .small.text-gray-500 December 2, 2019
              | Spending Alert: We've noticed unusually high spending for your account.
          a.dropdown-item.text-center.small.text-gray-500(href="#") Show All Alerts

      // Nav Item - Messages
      li.nav-item.dropdown.no-arrow.mx-1
        a.nav-link.dropdown-toggle(href="#", id="messagesDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          i.fas.fa-envelope.fa-fw
          // Counter - Messages
          span.badge.badge-danger.badge-counter 7
        // Dropdown - Messages
        .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby="messagesDropdown")
          h6.dropdown-header Message Center
          a.dropdown-item.d-flex.align-items-center(href="#")
            .dropdown-list-image.mr-3
              img.rounded-circle(src="/img/undraw_profile_1.svg", alt="...")
              .status-indicator.bg-success
            .font-weight-bold
              .text-truncate Hi there! I am wondering if you can help me with a problem I've been having.
              .small.text-gray-500 Emily Fowler 路 58m
          a.dropdown-item.d-flex.align-items-center(href="#")
            .dropdown-list-image.mr-3
              img.rounded-circle(src="/img/undraw_profile_2.svg", alt="...")
              .status-indicator
            .div
              .text-truncate I have the photos that you ordered last month, how would you like them sent to you?
              .small.text-gray-500 Jae Chun 路 1d
          a.dropdown-item.d-flex.align-items-center(href="#")
            .dropdown-list-image.mr-3
              img.rounded-circle(src="/img/undraw_profile_3.svg", alt="...")
              .status-indicator.bg-warning
            .div
              .text-truncate Last month's report looks great, I am very happy with the progress so far, keep up the good work!
              .small.text-gray-500 Morgan Alvarez 路 2d
          a.dropdown-item.d-flex.align-items-center(href="#")
            .dropdown-list-image.mr-3
              img.rounded-circle(src="https://source.unsplash.com/Mv9hjnEUHR4/60x60", alt="...")
              .status-indicator.bg-success
            .div
              .text-truncate Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...
              .small.text-gray-500 Chicken the Dog 路 2w
          a.dropdown-item.text-center.small.text-gray-500(href="#") Read More Messages

      .topbar-divider.d-none.d-sm-block

      // Nav Item - User Information
      li.nav-item.dropdown.no-arrow
        a.nav-link.dropdown-toggle(href="#", id="userDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          span.mr-2.d-none.d-lg-inline.text-gray-600.small #{username}
          img.img-profile.rounded-circle(src="/img/undraw_profile.svg")
        // Dropdown - User Information
        .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby="userDropdown")
          a.dropdown-item(href="#")
            i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
            | Profile
          a.dropdown-item(href="#")
            i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
            | Settings
          a.dropdown-item(href="#")
            i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
            | Activity Log
          .dropdown-divider
          a.dropdown-item(href="#", data-toggle="modal", data-target="#logoutModal")
            i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
            | Logout

block custom-css
  link(href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet")

block web-content
  .card.shadow.mb-4
    .card-header.py-3
      h1.m-0.font-weight-bold.text-primary Daftar User
      // Tombol untuk Add User
      a.btn.btn-primary(href="#", onclick="showAddUserModal()") Add User

    .card-body
      .table-responsive
        table.table.table-bordered(id="dataTable", width="100%", cellspacing="0")
          thead
            tr
              th User ID
              th Username
              th Role
              th Prodi
              th Fakultas
              th Action
          tbody
            each m in user
              tr
                td= m.user_id
                td= m.username
                td= m.role
                td= m.program_studi_id
                td= m.fakultas_id
                td
                  button.btn.btn-success.btn-sm.btn-edit(type="button", data-id=m.user_id, data-toggle="modal", data-target="#editUserModal")
                    i.fas.fa-edit
                  button.btn.btn-sm.btn-danger.mx-1(type="button", data-id=m.user_id, onclick=`deleteUser(${m.user_id})`)
                    i.fas.fa-trash

    // Modal Add User
    .modal.fade(id="addUserModal", tabindex="-1", role="dialog", aria-labelledby="addUserModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title#addUserModalLabel Add User
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            form#addUserForm(method="post", action="/admin/users")
              .form-group
                label(for="addUsername") Username
                input#addUsername.form-control(type="text", name="username", required)
              .form-group
                label(for="addPassword") Password
                input#addPassword.form-control(type="password", name="password", required)
              .form-group
                label(for="addRole") Role
                select#addRole.form-control(name="role", required)
                  option(value="administrator") Admin
                  option(value="mahasiswa") Mahasiswa
                  option(value="program_studi") Program Studi
                  option(value="fakultas") Fakultas
              .form-group
                label(for="addProdi") Program Studi
                input#addProdi.form-control(type="text", name="program_studi_id")
              .form-group
                label(for="addFakultas") Fakultas
                input#addFakultas.form-control(type="text", name="fakultas_id")
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            a.btn.btn-primary#addUser Save changes

  // Modal Update User
  .modal.fade#editUserModal(tabindex="-1", role="dialog", aria-labelledby="editUserModalLabel", aria-hidden="true")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title#editUserModalLabel Update User
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form#updateUserForm(method="post")
            input(type="hidden", name="user_id", id="updateUserId")
            .form-group
              label(for="currentUsername") Current Username
              input#currentUsername.form-control(type="text", disabled)
            .form-group
              label(for="newUsername") New Username
              input#newUsername.form-control(type="text", name="username", required)
            .form-group
              label(for="updateRole") Role
              select#updateRole.form-control(name="role", required)
                option(value="administrator") Admin
                option(value="mahasiswa") Mahasiswa
                option(value="program_studi") Program Studi
            .form-group
              label(for="updateProdi") Program Studi
              input#updateProdi.form-control(type="text", name="program_studi_id")
            .form-group
              label(for="updateFakultas") Fakultas
              input#updateFakultas.form-control(type="text", name="fakultas_id")
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Close
          a.btn.btn-primary#saveChanges Save changes

  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  script.
    document.addEventListener('DOMContentLoaded', function() {
      // Function to delete user
      function deleteUser(userId) {
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`/admin/users/delete/${userId}`, { method: 'DELETE' })
              .then(response => {
                if (response.ok) {
                  Swal.fire(
                    'Deleted!',
                    'User has been deleted.',
                    'success'
                  );
                  location.reload();
                } else {
                  Swal.fire(
                    'Error!',
                    'There was a problem deleting the user.',
                    'error'
                  );
                }
              }).catch(error => {
                Swal.fire(
                  'Error!',
                  'There was a problem deleting the user.',
                  'error'
                );
              });
          }
        });
      }

      // Attach delete event listeners
      const deleteButtons = document.querySelectorAll('.btn-danger');
      deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
          const userId = this.getAttribute('data-id');
          deleteUser(userId);
        });
      });

      // Function to show update modal and populate it with user data
      function showUpdateModal(userId) {
        fetch(`/admin/users/${userId}`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('updateUserId').value = data.user.user_id;
            document.getElementById('currentUsername').value = data.user.username; // Add current username field
            document.getElementById('newUsername').value = data.user.username;
            document.getElementById('updateRole').value = data.user.role;
            document.getElementById('updateProdi').value = data.user.program_studi_id;
            document.getElementById('updateFakultas').value = data.user.fakultas_id;
            $('#editUserModal').modal('show');
          })
          .catch(error => console.error('Error fetching user data:', error));
      }

      // Attach event listener to the save changes button
      document.getElementById('saveChanges').addEventListener('click', function (e) {
        e.preventDefault(); // Prevent default link action

        const userId = document.getElementById('updateUserId').value;
        const payload = {
          user_id: userId,
          username: document.getElementById('newUsername').value,
          role: document.getElementById('updateRole').value,
          program_studi_id: document.getElementById('updateProdi').value,
          fakultas_id: document.getElementById('updateFakultas').value
        };

        fetch(`/admin/users/update/${userId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(payload)
        })
        .then(response => response.json())
        .then(data => {
          if (data.message && data.message.includes('updated successfully')) {
            Swal.fire(
              'Berhasil!',
              'Data user telah diperbarui.',
              'success'
            ).then(() => {
              $('#editUserModal').modal('hide');
              location.reload(); // Reload page to reflect changes
            });
          } else {
            Swal.fire(
              'Gagal!',
              'Gagal memperbarui data user.',
              'error'
            );
          }
        })
        .catch(error => {
          console.error('Error updating user:', error);
          Swal.fire(
            'Gagal!',
            'Terjadi kesalahan saat memperbarui data.',
            'error'
          );
        });
      });

      // Function to show add user modal
      function showAddUserModal() {
        $('#addUserModal').modal('show');
      }

      // Attach event listeners to edit buttons
      const editButtons = document.querySelectorAll('.btn-edit');
      editButtons.forEach(button => {
        button.addEventListener('click', function() {
          const userId = this.getAttribute('data-id');
          showUpdateModal(userId);
        });
      });

      // Attach event listener to add user button
      document.querySelector('a[onclick="showAddUserModal()"]').addEventListener('click', function(e) {
        e.preventDefault(); // Prevent default link action
        showAddUserModal();
      });

      // Attach event listener to add user modal save button
      document.getElementById('addUser').addEventListener('click', function (e) {
        e.preventDefault(); // Prevent default link action
        document.getElementById('addUserForm').submit();
      });
    });
