doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Daftar Mahasiswa
    body
        h1 Daftar Mahasiswa
        table(border="1")
            thead
                tr
                    th NRP
                    th User ID
                    th Nama Mahasiswa
                    th Program Studi ID
                    th IPK Terakhir
                    th Status Aktif
            tbody
                each m in mahasiswa
                    tr
                        td= m.nrp
                        td= m.user_id
                        td= m.nama_mahasiswa
                        td= m.prodi
                        td= m.ipk
                        td= m.status
